@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');

:root {

    --bg-color-: #fff0d1;
    /* example: background-color: var(--bg-color-); */
    --ghose-: #f8afc7;
    --pink-: #f03271;
    --lime-: #99eebf;
    --red-: #d34a32;
    /* example: color: var(--red-); */
    --purpel-: #9967d3;
    --yellow-: #feee62;
    --blue-: #2cb6e4;
    --green-: #0e7a2c;
    --dark-purpel-: #170d41;
    --box-radius-: 20px 0 20px 0;
    /* example: border-radius: var(--box-radius-); */
    --fit-radius-: 20px;
    --full-radius-: 50%;
    --letter-radius: 10px;
    /* المرجو استخدامها في جميع الأزرار في خاصية hover */
    --scale-: scale(1.2);
    /* example: transform: var(--scale-); */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: "Rubik", sans-serif; */
    font-family: "Noto Naskh Arabic", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}


body {
    width: 100%;
    background-color: var(--bg-color-);
    overflow-x: hidden;
}

.letters-section {
    padding: 10px 45px;
    width: 100%;
    height: fit-content;
    background-color: #fff4da;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px auto;
}


.titles {
    display: flex;

    & .title {
        background-color: var(--red-) !important;
        margin: 3px 23px;
    }

    margin-bottom: 30px;
}

.letters-section .title {
    background-color: var(--dark-purpel-);
    display: inline-block;
    height: 55px;
    border-radius: var(--fit-radius-);
    color: var(--yellow-);
    align-content: center;
    margin: 30px 15px;
    font-size: 14px;

    h1,
    h2 {
        padding: 0px 25px;
    }
}

.letters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.letters .letter-button {
    background-color: white;
    width: 120px;
    height: 120px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: var(--fit-radius-);
    border: 2px solid var(--green-);
    margin: 10px 40px;
    cursor: pointer;
    transition: 0.3s ease-in;

    span {
        color: red;
    }
}

.letters .letter-button:hover {
    transform: var(--scale-);
    box-shadow: 1px 1px 5px black;
}


hr {
    width: 75%;
    border: 1px solid var(--red-);
}

hr.first {
    margin-top: 20px;
}

.guide {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 10px 0;
}

.colorGuide {
    display: flex;
    align-items: center;
}

.colorGuide span {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

.colorGuide.yellow span {
    background-color: var(--yellow-);
}

.colorGuide.blue span {
    background-color: var(--blue-);
}

.colorGuide.yellowBlue span {
    position: relative;
}

.colorGuide.yellowBlue span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    width: 100%;
    height: 50%;
    background-color: var(--blue-);
}

.colorGuide.yellowBlue span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--yellow-);
}

.notes {
    /* background-color: var(--bg-color-); */
    padding: 10px;
    /* border: 1px solid #5d657a; */
    border-radius: 10px;
    font-size: 25px;
    width: 75%;
    margin: 10px 0;
    color: #0e2e2b;
}

ul {
    list-style: none;
}

.notes ul li {
    margin: 20px 0;
}

/*------------<h1>مجموعات الحروف بالكسر</h1>-----------------*/

.groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
    margin-top: 35px;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    height: 225px;
    border-radius: 15px;
    position: relative;

    .col {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 140px;
        margin-top: 15px;

        .letter-button {
            margin: 10px;
            font-size: 40px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
            background-color: var(--blue-);
            border-radius: var(--box-radius-);
        }


        .letter-button.top {
            background-color: yellow;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            margin-bottom: 5px;
            border: 3px dotted green;
            color: var(--red-);
        }

        .letter-button.bottom {
            margin-top: 10px;
            height: 90px;
            width: 125px;
        }

        .letter-button:hover {
            transform: var(--scale-);
            box-shadow: 1px 1px 4px var(--dark-purpel-);
        }
    }
}

.group::before {
    content: '';
    width: 175px;
    height: 35px;
    position: absolute;
    background-color: rgb(245, 235, 235);
    top: -20px;
    text-align: center;
    align-content: center;
    border-radius: var(--fit-radius-);
    border: 2px solid var(--green-);
    font-size: 26px;
    color: var(--red-);
}

.group.group._1::before {
    content: 'المجموعة 1';
}

.group.group._2::before {
    content: 'المجموعة 2';
}

.group.group._3::before {
    content: 'المجموعة 3';
}

.group.group._4::before {
    content: 'المجموعة 4';
}

.group._1,
.group._4 {
    background-color: #0e7a2c;
}

.group._2 {
    background-color: var(--ghose-);
}

.group._3 {
    background-color: #feee62;
}

.group._letters {
    display: flex;
}

.group_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red-);
    font-size: 28px;
    font-weight: bold;
}


/*----------------- page 17 ---------------*/



/*--------------- Styling Page 17 ------------------*/



/*------------<h1>مجموعات الحروف بالكسر</h1>-----------------*/


.group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .word {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .letter-button {
        margin: 15px;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        /* box-shadow: 2px 1px var(--dark-purpel-) ; */
    }

    .letter-button:hover {
        transform: var(--scale-);
        box-shadow: 1px 1px 4px var(--dark-purpel-);
    }

    .l_1,
    .l_2,
    .l_3,
    .l_4 {
        position: relative;
    }

    .l_1::after,
    .l_2::after,
    .l_3::after,
    .l_4::after {
        content: '\21A2';
        position: absolute;
        left: -26px;
        font-size: 32px !important;
        font-weight: bold !important;
        top: calc(50%-20px);
        color: var(--red-);
    }

    .l_1::after,
    .l_3::after {
        color: var(--dark-purpel-);
    }

    .l_1,
    .l_2,
    .l_3,
    .jomla {
        /* border: 2px solid var(--dark-purpel-); */
        box-shadow: 2px 1px var(--dark-purpel-);
        outline: navy;
    }

    .l_1 {
        background-color: var(--blue-);
    }

    .l_2 {
        background-color: var(--ghose-);
    }

    .l_1,
    .l_2 {
        width: 80px;
        height: 80px;
        border-radius: var(--box-radius-);
    }

    .l_3 {
        width: 160px;
        height: 80px;
        border-radius: var(--box-radius-);
        background-color: var(--blue-);
    }

    .d {

        background-color: var(--yellow-);
        border-radius: 100%;
        border: 2px dotted var(--green-);
        height: 80px;
        width: 80px;
        position: relative;
    }

    .jomla {
        width: 200px;
        height: 80px;
        border-radius: var(--box-radius-);
        background-color: var(--blue-);
    }

    .word:nth-child(odd) {
        i {
            color: var(--dark-purpel-);
        }
    }

    .l4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .l_4 {
            border: 2px dotted var(--red-);
        }
    }

    i {
        font-size: 40px;
        color: var(--red-);
        font-weight: bold;
        margin-right: -25px;
    }
}

.group.examples {
    display: flex;
    flex-direction: column;
}

.group._1,
.group._2 {
    display: flex;
    justify-content: center;
    /* background-color: #c3d332; */
    padding: 20px;
}

.group._letters {
    display: flex;
}

.group_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red-);
    font-size: 28px;
    font-weight: bold;
}

.group_title .square {
    width: 40px;
    height: 40px;
    border: 2px solid var(--green-);
    text-align: center;
    margin-right: 5px;
    position: relative;
    align-items: center;
    align-content: center;
}


/*
.group_title  {
   border: 4px solid red;
   width: 9px;
   height: 43px;
   transform: rotate(57deg);
   margin-left: 15px;
   border-radius: 25px;
   background-color: red;
 }
 
 .group_title .square {
   width: 40px;
   height: 40px;
   background-color: yellow;
   transform: rotate(-63deg);
   margin-top: 1px;
   margin-left: -15px;
   border-radius: 5px 20px;
 }

*/



/*--------------- Styling Page 17 ------------------*/



.letters {
    display: flex;
    flex-direction: column;
    align-items: center;

    .exmple_ {
        display: flex;
    }

    .exmple_.t_1,
    .exmple_.t_2 {

        .letter-button.l5 {
            background-color: var(--ghose-);
        }

        .letter-button.l6 {
            background-color: var(--green-);
        }

        .letter-button.l7 {
            background-color: var(--blue-);
        }
    }

    .exmple_.t_2 {

        .letter-button.l5._5,
        .letter-button.l6._6,
        .letter-button.l7._7 {
            width: 400px;
        }

        .letter-button.l5::after,
        .letter-button.l6::after,
        .letter-button.l7::after {
            display: none;
        }

    }



    .letter-button {
        width: 160px;
        height: 80px;
        position: relative;
        padding-bottom: 27px;
    }

    .letter-button.l1 {
        background-color: var(--yellow-);
    }

    .letter-button.l2 {
        background-color: var(--blue-);
    }

    .letter-button.l3 {
        background-color: var(--green-);
    }

    .letter-button.l4 {
        background-color: var(--red-);
    }




    .letter-button::after {
        position: absolute;
        content: '';
        font-size: 13px;
        width: 86px;
        height: 20px;
        background-color: var(--lime-);
        border-radius: 25px;
        bottom: -10px;
        left: calc(50% - 44px);
        border: 2px solid orange;
        align-content: center;
    }

    .letter-button.l1._1:after {
        content: 'التوبة : ٨١';
    }

    .letter-button.l1._2::after {
        content: 'الأنفال : ٨';
    }

    .letter-button.l1._3::after {
        content: 'هود : ٦٩';
    }

    .letter-button.l1._4::after {
        content: 'الأنعام : ١٤';
    }



    .letter-button.l2._1:after {
        content: 'التوبة : ٨١';
    }

    .letter-button.l2._2::after {
        content: 'الأنفال : ٨';
    }

    .letter-button.l2._3::after {
        content: 'هود : ٦٩';
    }

    .letter-button.l2._4::after {
        content: 'الأنعام : ١٤';
    }


    .letter-button.l3._1:after {
        content: 'التوبة : ٨١';
    }

    .letter-button.l3._2::after {
        content: 'الأنفال : ٨';
    }

    .letter-button.l3._3::after {
        content: 'هود : ٦٩';
    }

    .letter-button.l3._4::after {
        content: 'الأنعام : ١٤';
    }


    .letter-button.l4._1:after {
        content: 'التوبة : ٨١';
    }

    .letter-button.l4._2::after {
        content: 'الأنفال : ٨';
    }

    .letter-button.l4._3::after {
        content: 'هود : ٦٩';
    }

    .letter-button.l4._4::after {
        content: 'الأنعام : ١٤';
    }


    .letter-button.l5._1:after {
        content: 'التوبة : ٨١';
    }

    .letter-button.l5._2::after {
        content: 'الأنفال : ٨';
    }

    .letter-button.l5._3::after {
        content: 'هود : ٦٩';
    }

    .letter-button.l5._4::after {
        content: 'الأنعام : ١٤';
    }

    .letter-button.l6._1:after {
        content: 'التوبة : ٨١';
    }

    .letter-button.l6._2::after {
        content: 'الأنفال : ٨';
    }

    .letter-button.l6._3::after {
        content: 'هود : ٦٩';
    }

    .letter-button.l6._4::after {
        content: 'الأنعام : ١٤';
    }


    .letter-button.l7._1:after {
        content: 'التوبة : ٨١';
    }

    .letter-button.l7._2::after {
        content: 'الأنفال : ٨';
    }

    .letter-button.l7._3::after {
        content: 'هود : ٦٩';
    }

    .letter-button.l7._4::after {
        content: 'الأنعام : ١٤';
    }


}

/* ------------   Page 18 --------------*/

/*---------------- media query ----------------*/

/*---------------- page 17 ----------------*/


/*---------------- media query ----------------*/

@media (min-width: 1205px) {
    .groups {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1204px) {

    .groups {
        display: grid;
        grid-template-columns: 1fr;
    }

    .letters {
        .exmple_ {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .letters.tadrib2 .r-5,
    .letters.tadrib2 .r-6,
    .letters.tadrib2 .r-7{
       display: flex;
       flex-direction: column;
    }
}

@media (min-width: 460px) and (max-width: 768px) {

    .letters-section {
        padding: 10px 30px;
    }

    .letters-section .title {
        font-size: 12px;
        padding: 0px;

    }

    .guide {
        width: 90%;
        font-size: 10px;
    }

    .colorGuide span {
        width: 15px;
        height: 15px;
        margin-left: 3px;
    }

    hr {
        width: 90%;
        border: 1px solid var(--red-);
    }

    .notes {
        padding: 8px;
        font-size: 15px;
        width: 90%;
        margin: 10px 0;
        color: #0e2e2b;
    }

    .letters {
        .exmple_ {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    .letters.tadrib2 .r-5,
    .letters.tadrib2 .r-6,
    .letters.tadrib2 .r-7{
       display: flex;
       flex-direction: column;
    }
}


@media (max-width: 640px) {
    .letters-section {
        padding: 10px;
    }

    .letters .letter-button:hover {
        transform: var(--scale-);
        box-shadow: 1px 1px 4px var(--dark-purpel-);
    }

    .letters-section .title {
        font-size: 13px;
        padding: 0px;
    }

    .letters {
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
    }


    .guide {
        font-size: 8px;
    }

    .colorGuide span {
        width: 10px;
        height: 10px;
        margin-left: 3px;
    }

    .notes {
        padding: 8px;
        font-size: 12px;
        width: 90%;
        margin: 10px 0;
        color: #0e2e2b;
    }

    .line {
        margin: 15px auto;
    }

    .group {
        display: flex;
    }

    .title {
        h1 {
            font-size: 17px;
        }

        h2 {
            font-size: 16px;
        }
    }

   
}

@media (max-width: 460px) {

    .title {

        h1,
        h2 {
            padding: 8px 15px;
        }

        h1 {
            font-size: 15px;
        }

        h2 {
            font-size: 15px;
        }
    }

    .group {
        height: 900px;
        display: flex;
        flex-direction: column;
    }

    .letters {
        .exmple_ {
            display: grid;
        }
        .exmple_.r-5,
        .exmple_.r-6,
        .exmple_.r-7 {
            .letter-button {
                width: 300px!important;
            }
        }
    }  
}
