@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Mirza:wght@400;500;600;700&family=Scheherazade+New:wght@400;500;600;700&display=swap');

:root {

    --bg-color-: #fff0d1;
    /* example: background-color: var(--bg-color-); */
    --ghose-: #f8afc7;
    --pink-: #f03271;
    --lime-: #99eebf;
    --red-: #d34a32;
    --lightBlue : #87CEEB;
    /* example: color: var(--red-); */
    --purpel-: #9967d3;
    --yellow-: #feee62;
    --blue-: #2cb6e4;
    --green-: #0e7a2c;
    --dark-purpel-: #170d41;
    --box-radius-: 20px 0 20px 0;
    /* example: border-radius: var(--box-radius-); */
    --fit-radius-: 20px;
    --full-radius-: 50%;
    --letter-radius: 10px;
    /* المرجو استخدامها في جميع الأزرار في خاصية hover */
    --scale-: scale(1.2);
    /* example: transform: var(--scale-); */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: "Rubik", sans-serif; */
    font-family: "Noto Naskh Arabic", serif;
    /* font-family: "Mirza", serif; */
    font-optical-sizing: auto;
    font-weight: bold;
}



body {
    width: 100%;
    background-color: var(--bg-color-);
    overflow-x: hidden;
}

.letters-section {
    padding: 10px 45px;
    width: 100%;
    height: fit-content;
    background-color: #fff4da;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px auto;
}


.letters-section .title {
    background-color: var(--dark-purpel-);
    display: inline-block;
    height: 48px;
    border-radius: var(--fit-radius-);
    color: var(--yellow-);
    align-content: center;
    margin: 40px 8px;

    h1 {
        padding: 0px 25px;
        margin-top: -6px;
    }
}

.letters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

/*------  page-9   ----*/

.letters.tadribat {
    display: flex;
    flex-direction: column;

    .group {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .letter-button {
            border-radius: 100%;
            border: 4px dashed var(--red-);
            height: 90px;
            width: 90px;
            background-color: var(--yellow-);
            font-size: 45px;
        }
    }

    .row {

        display: flex;
        justify-content: space-between;
        border: 2px solid var(--dark-purpel-);
        background-color: yellow;
        padding: 5px 2px;
        border-radius: var(--fit-radius-);
        width: 75vw;
        
        .col {
            display: flex;
            flex-direction: column;
            margin: 5px;

            .ln {
                display: flex;

                .letter-button {
                    margin: 5px 25px;
                    height: 90px;
                    width: 80px;
                    position: relative;
                    background-color: #FDFD96;
                    box-shadow: 0 4px 10px var(--dark-purpel-);
                }

                .letter-button::after {
                    content: '\2190';
                    position: absolute;
                    left: -32px;
                    color: var(--red-);
                }

                .b-large {
                    width: 140px;
                    background-color: var(--blue-);
                }

                .b-large::after {
                    display: none;
                }
            }

            

            .r_2 {
                display: flex;
                justify-content: center;
                background-color: aquamarine;
        
                .letter-button {
                    margin: 0;
                }
            }
/* 
            &.col-1 {
                background-color: #d34a32;
            }
            &.col-2 {
                background-color: #3ed879;
            } */

        }

       
    }

 

    .r-1 {
        background-color: var(--yellow-);
    }

    .r-2 {
        background-color: var(--blue-);
    }

    .r-3 {
        background-color: var(--green-);
    }
    .r-4 {
        background-color: #A020F0;
    }

    .r-5 {

        display: flex;
        flex-direction: column;
        background-color:var(--lightBlue);
        padding: 15px;

        .letters {
            display: flex;
        }

        .grp {
            display: flex;
            /* background-color: #9967d3; */
            width: 200px;
            justify-content: center;
            margin: 10px;
        }

        .letter-button {
            width: 30px;
            height: 30px;
            margin: 10px;
            font-size: 12px;
        }

        .txt {
            display: flex;
            flex-direction: column;

            flex-wrap: wrap;

            .center {
                display: flex;
                align-items: center; 
                align-content: center;
   
                /* flex-wrap: wrap; */

               
            }

            /* .l {
                width: 80px ;
                height: 45px;
                border-radius: var(--letter-radius);
                background-color: var(--blue-);
            } */
        }
    }

    .letter-button.l {
        width: 80px ;
        height: 45px;
        border-radius: var(--letter-radius);
        background-color: var(--blue-);
        font-size: 20px;
        color: var(--red-);
    }

    .letter-button.s {
        width: 45px ;
        height: 45px;
        border-radius: var(--letter-radius);
        background-color: var(--yellow-);
        position: relative;
        font-size: 20px;
    }

    .letter-button.s::after {
        content: '\2190';
        left: -14px;
        position: absolute;
        font-size: 13px;
    }
}



/*------ page-9   ----*/


/*------ Begin Page 10 ------*/

.row.r__1,
.row.r__2 {

    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-)!important;

    & .first {
        display: flex;
        justify-content: center;
        /* background-color: wheat; */
    }
    & .second {
        display: flex;
        /* background-color: chartreuse; */
        justify-content: space-around;
        margin: auto 20px;
      

         .letter-button {
            background-color: darkgoldenrod;
            width: 100px;
            height: 100px;
            margin: 0;
         }
    }
}



/*------ ENd Page 10 -------*/


/*------ Begin Page 11 -------*/

.line {
    display: flex;
    justify-content: center;

    & .letter-button {
        margin: 4px!important;
        border-radius: var(--box-radius-)!important;
    }

    & .letter-button.large {
        flex-basis: 33%;
        position: relative;
    }

    & .letter-button.large.arrow::after {
        content: '\2193';
        position: absolute;
        bottom: -55px;
    }
}

/*------ ENd Page 11 -------*/

.letters .letter-button {
    background-color: white;
    width: 120px;
    height: 120px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: var(--fit-radius-);
    border: 2px solid var(--green-);
    margin: 10px 40px;
    cursor: pointer;
    transition: 0.3s;

    span {
        color: red;
    }
}

.letters .letter-button:hover {
    transform: var(--scale-);
    box-shadow: 1px 1px 5px black;
}

.letters .letter-button.lathawy {
    background-color: var(--yellow-);
    border: 2px solid orange;
}

.letters .letter-button.tafkhim {
    background-color: var(--blue-);
}

.letters .letter-button.mix {
    position: relative;
    overflow: hidden;
}

.letters .letter-button.mix::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--yellow-);
    z-index: -1;
}

.letters .letter-button.mix::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--blue-);
    z-index: -1;
}

.letters .letter-button.mix {
    z-index: 1;
}

hr {
    width: 75%;
    border: 1px solid var(--red-);
}

hr.first {
    margin-top: 20px;
}

.guide {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 10px 0;
}

.colorGuide {
    display: flex;
    align-items: center;
}

.colorGuide span {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

.colorGuide.yellow span {
    background-color: var(--yellow-);
}

.colorGuide.blue span {
    background-color: var(--blue-);
}

.colorGuide.yellowBlue span {
    position: relative;
}

.colorGuide.yellowBlue span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    width: 100%;
    height: 50%;
    background-color: var(--blue-);
}

.colorGuide.yellowBlue span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--yellow-);
}

.notes {
    background-color: #BFEFFF;
    padding: 5px 15px;
    /* border: 1px solid #5d657a; */
    border-radius: var(--fit-radius-);
    font-size: 25px;
    width: 75%;
    margin: 10px 0;
    color: #0e2e2b;
    border: 2px solid var(--dark-purpel-);


    ul {
        list-style: none;
    }

    li {
        margin-right: 15px;
    }

    h3 {
        color: var(--red-);
        margin-bottom: 8px;
    }

    p {
        font-size: 20px;
        color: black;
        margin-right: 30px;
    }

    span {
        color: var(--red-);
    }
}

@media screen and (max-width:576px) {

    .letters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .guide {
        display: flex;
        flex-direction: column;
    }

    .notes {
        width: 100%;
    }

    .letters-section .title {
        margin: 40px -4px;

        & h1 {
            padding: 2px 13px;
        }
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .letters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
}